/*this css app-title*/
.app-title {
  height: 50px;
  padding-top: 5px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  color: #fff;
  background-color: #33b9ff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  z-index: 1;
  filter: Alpha(opacity=100);
}
.app-title .head {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
.app-title .search {
  width: 80%;
  height: 80%;
  display: inline-block;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}
