
/*this is main-second css*/

.main-second{
	height: 100px;
	padding-top: 10px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	background-color:#33b9ff;
	position: fixed;
	left: 0;
	right: 0;
	top: 50px;
	z-index: 1;
	p{
		height: auto;
	}
}