.title {
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  color: #fff;
  background-color: #33b9ff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: -webkit-flex;
  align-items: center;
}
.title .selected {
  color: #fff;
  background-color: #33b9ff;
  border-color: #fff;
  border-right: none;
}
.title .unselected {
  color: #33b9ff;
}
