.invoice-detail {
  margin-top: 50px;
}
.invoice-detail .item-name {
  text-align: center;
}
.invoice-detail .blank-line {
  background-color: #fafafa;
  height: 15px;
}
.invoice-detail .detail-list {
  padding: 10px;
}

.invoice-img {
  display: none;
  margin-top: 50px;
}
